{% extends "tasks/tasks_base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block content %}
    <h1> {{ user.username }} </h1>
    <table class="table">
        <tr>
            <th> Name </th>
            <td> {{ user.username }} </td>
        </tr>
        <tr>
            <th> Email </th>
            <td> {{ user.email }} </td>
        </tr>
{% if can_edit %}
        <tr>
            <td> &nbsp; </td>
            <td> <a class="btn btn-primary" href="{% url 'tasks:user_update' user.username %}"> Edit </a></td>
        </tr>
{% endif %}
    </table>
{% endblock %}
