{% extends "tasks/tasks_base.html" %}
{% load i18n %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
    <h1> {{ user.username }} </h1>
    <table class="table">
        <tr>
            <th> {% trans 'Email' %} </th>
            <td> {{ user.email }} </td>
        </tr>
        <tr>
            <th> {% trans 'First name' %} </th>
            <td> {{ user.first_name }} </td>
        </tr>
        <tr>
            <th> {% trans 'Last name' %} </th>
            <td> {{ user.last_name }} </td>
        </tr>
{% if can_edit %}
        <tr>
            <td>
                <a class="btn btn-primary" href="{% url 'tasks:user_update' user.username %}">
                    {% trans 'Edit' %}
                </a>
            </td>
            <td> &nbsp; </td>
        </tr>
{% endif %}
    </table>
{% endblock %}
