    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th style="width:0%"> # </th>
            <th style="width:80%"> Task </th>
            <th> Status </th>
        </tr>
        </thead>
        <tbody>
        {% for task in project.tasks_done %}
        <tr>
            <td> {{ task.order }} </td>
            <td> <a href="{% url 'tasks:task_update' task.project.name task.name %}" title="{{ task.description }}"> {{ task.title }} </a> </td>
            <td class="{{ task.phase.element_class }}"> {{ task.phase.title }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
