{% extends "tasks/tasks_base.html" %}
{% load i18n %}

{% block title %} Mitasny {% endblock %}
{% block content %}
<div class="text-right">
    {% trans 'Download' %}
    <a href="{% url 'tasks:projects_weekly' %}">weekly_report.html</a>
    <a href="{% url 'tasks:projects_weekly' %}?hide_chart=1">[{% trans 'without charts' %}]</a>
    <a href="{% url 'tasks:projects_weekly' %}?hide_text=1">[{% trans 'charts only' %}]</a>
</div>

    <h1> Projects </h1>
    <table class="table">
        <thead>
            <th> {% trans 'Name' %} </th>
            <th> {% trans 'Tasks' %} </th>
            <th> {% trans 'Work left' %} </th>
            <th> {% trans 'Estimated finish date' %} </th>
        </thead>
        <tbody>
{% for project in project_list %}
        <tr>
            <td> <a href="{{ project.get_absolute_url }}"> {{ project.title }} </a> </td>
            <td> {{ project.tasks.count }} </td>
            <td> {{ project.total_work_left }} </td>
            <td> {{ project.finish_date|date:"Y-m-d" }} </td>
        </tr>
{% endfor %}
{% if user.is_authenticated %}
        <tr>
            <td colspan="4">
                <a class="btn btn-primary" href="{% url 'tasks:project_create' %}">
                    {% trans 'Create project' %}
                </a>
            </td>
        </tr>
{% endif %}
        </tbody>
    </table>
{% endblock %}
