{% extends "tasks/tasks_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
    <h1> {{ project.title }} </h1>
    <table class="table table-bordered">
{% if project.description %}
        <tr>
            <th> Description </th><td> {{ project.description }} </td>
        </tr>
{% endif %}
    </table>

{% if project.tasks %}
    {% with tasks=project.tasks.all %}
        {% include 'tasks/project/table.html' %}
    {% endwith %}
{% endif %}

<p> Download <a href="{% url 'tasks:project_weekly' project.name %}">weekly_report.html</a>
<a class="btn btn-default" href="{% url 'tasks:project_chart' project.name %}"> Chart </a></p>

{% if user.is_authenticated %}
<div> <a class="btn btn-primary" href="{% url 'tasks:task_create' project.name %}"> Create task </a> </div>
<div class="text-right"> <a class="btn btn-danger" href="{% url 'tasks:project_delete' project.name %}">Delete project</a> </div>
{% endif %}

{% endblock %}
