{% extends "tasks/tasks_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
<div class="text-right">
    Download
    <a href="{% url 'tasks:projects_weekly' %}">weekly_report.html</a>
    <a href="{% url 'tasks:projects_weekly' %}?chart=0">[without chart]</a>
</div>

    <h1> Projects </h1>
    <table class="table">
        <thead>
            <th> Name </th>
            <th> Tasks </th>
            <th> Work left </th>
            <th> Estimated finish date </th>
        </thead>
        <tbody>
{% for project in project_list %}
        <tr>
            <td> <a href="{{ project.get_absolute_url }}"> {{ project.title }} </a> </td>
            <td> {{ project.tasks.count }} </td>
            <td> {{ project.total_work_left }} </td>
            <td> {{ project.finish_date|date:"Y-m-d" }} </td>
        </tr>
{% endfor %}
{% if user.is_authenticated %}
        <tr> <td colspan="4"> <a class="btn btn-primary" href="{% url 'tasks:project_create' %}"> Create project </a> </td></tr>
{% endif %}
        </tbody>
    </table>
{% endblock %}
