{% extends "tasks/tasks_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
<div class="text-right">
    Download <a href="{% url 'tasks:project_weekly' project.name %}">weekly_report.html</a>
</div>
    <h1> {{ project.title }} </h1>
    <table class="table table-bordered">
{% if project.description %}
        <tr>
            <th> Description </th><td> {{ project.description }} </td>
        </tr>
{% endif %}
    </table>

<ul class="nav nav-tabs">
    <li role="presentation" class="{% if tab == 'table' %}active{% endif %}">
        <a href="{% url 'tasks:project_tab' project.name 'table' %}"> Table </a>
    </li>
    <li role="presentation" class="{% if tab == 'chart' %}active{% endif %}">
        <a href="{% url 'tasks:project_tab' project.name 'chart' %}"> Chart </a>
    </li>

</ul>

{% if project.tasks %}
    {% if tab == 'table' %}
        {% with tasks=project.tasks.all %}
            {% include 'tasks/project/table.html' %}
        {% endwith %}
    {% elif tab == 'chart' %}
        {% include 'tasks/project/chart.html' %}
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
<div> <a class="btn btn-primary" href="{% url 'tasks:task_create' project.name %}"> Create task </a> </div>
{% endif %}

{% endblock %}
