{% extends "tasks/tasks_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
    <h1> {{ project.title }} </h1>
    <table class="table table-bordered">
{% if project.description %}
        <tr>
            <th> Description </th><td> {{ project.description }} </td>
        </tr>
{% endif %}
    </table>

{% if project.tasks %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th> Name </th>
            <th> Status </th>
            <th> Priority </th>
            <th colspan="2"> Work remaining </th>
        </tr>
        </thead>
        <tbody>
    {% for task in project.tasks.all %}
        <tr>
            <td> <a href="{{ task.get_absolute_url }}"> {{ task.title }} </a> </td>
            <td> {{ task.status.title }} </td>
            <td> {{ task.priority.title }} </td>
            <td class="text-right"> {{ task.work_left }} </td>
            <td> <a class="btn btn-primary btn-xs" href="{% url 'tasks:task_update' task.project.name task.name %}">Edit</a> </td>
        </tr>
    {% endfor %}
        <tr>
            <th colspan="3"> Total </th>
            <th class="text-right"> {{ project.total_work_left }} </th>
            <td> &nbsp;</td>
        </tr>
        <tr>
            <th colspan="3"> Estimated finish date </th>
            <th class="text-right"> {{ project.finish_date|date:"Y-m-d" }} </th>
            <td> &nbsp;</td>
        </tr>
    {% if user.is_authenticated %}
        <tr> <td> <a class="btn btn-default" href="{% url 'tasks:task_create' project.name %}"> Create task </a> </td></tr>
    {% endif %}
        </tbody>
    </table>
{% endif %}

{% if user.is_authenticated %}
<p class="text-right"> <a class="btn btn-danger" href="{% url 'tasks:project_delete' project.name %}">Delete project</a> </p>
{% endif %}

{% endblock %}
