{% extends "tasks/tasks_static_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
    <h1> {{ project.title }} </h1>
    <table>
{% if project.description %}
        <tr>
            <th> Description </th><td> {{ project.description }} </td>
        </tr>
{% endif %}
    </table>

{% if project.tasks_finished %}
<b> Last week </b>
<ul>
    {% for task in project.tasks_finished.all %}
    <li> {{ task.title }} </li>
        {% if task.description %}
        <ul> <li> {{ task.description }} </li></ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if project.tasks_ongoing %}
<b> This week </b>
<ul>
    {% for task in project.tasks_ongoing.all %}
    <li> {{ task.title }} </li>
        {% if task.description %}
        <ul> <li> {{ task.description }} </li></ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<b> Backlog </b>
{% if project.tasks_pending %}
    <table>
        <thead>
        <tr>
            <th> Task </th>
            <th colspan="1"> Days </th>
            <th class="week_marker" colspan="5"> Week 1 </th>
        {% for week in project.total_work_left_weeks_list %}
            <th class="week_marker" colspan="5"> Week {{ week|add:2 }} </th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
    {% for task in project.tasks_pending.all %}
        <tr>
            <td> {{ task.title }} </td>
            <td class="text-right"> {{ task.work_left }} </td>
            {% for i in task.cumulative_work_before_list %}
            <td class="day_marker white"> &nbsp; </td>
            {% endfor %}
            {% for i in task.work_left_list %}
            <td class="day_marker green"> &nbsp; </td>
            {% endfor %}
            <td colspan="2"> {{ task.finish_date|date:"m-d" }} </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="1"> <b> Total </b> </td>
            <td class="text-right"> <b> {{ project.total_work_left }} </b> </td>
            <td> &nbsp;&nbsp;</td>
        </tr>
        </tbody>
    </table>
{% endif %}
<p> <b> Estimated total work required by remaining tasks: {{ project.total_work_left_string }} </b> </p>
{% endblock %}
