{% extends "tasks/tasks_static_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
    <h1> {{ project.title }} </h1>
    <table>
{% if project.description %}
        <tr>
            <th> Description </th><td> {{ project.description }} </td>
        </tr>
{% endif %}
    </table>

{% if project.tasks %}
    <table>
        <thead>
        <tr>
            <th style="width:0%"> # </th>
            <th style="width:50%"> Name </th>
            <th> Status </th>
            <th colspan="2"> Work remaining </th>
            <th colspan="2"> Est. finish date </th>
        </tr>
        </thead>
        <tbody>
    {% for task in project.tasks.all %}
        <tr>
            <td> {{ task.order }} </td>
            <td> {{ task.title }} </td>
            <td class="{{ task.phase.element_class }}"> {{ task.phase.title }} </td>
            <td class="text-right"> {{ task.work_left }} </td>
            <td class="text-right"> {{ task.cumulative_work_left }} </td>
            <td class="text-right"> {{ task.finish_date|date:"Y-m-d" }} </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3"> <b> Total: {{ project.total_work_left_string }} </b> </td>
            <td class="text-right"> <b> {{ project.total_work_left }} </b> </td>
            <td> &nbsp;&nbsp;</td>
            <td class="text-right"> <b> {{ project.finish_date|date:"Y-m-d" }} </b> </td>
            <td> &nbsp;&nbsp;</td>
        </tr>
        </tbody>
    </table>
{% endif %}

{% endblock %}
