{% extends "tasks/tasks_base.html" %}
{% load i18n %}
{% block title %} Mitasny {% endblock %}

{% block content %}
{% if task %}
<h1> {{ task.title }} </h1>
<form action="{% url 'tasks:task_update' task.project.name task.name %}" method="post">
{% elif project %}
<h1> {{ project.title }} </h1>
<h1> {% trans "Create new task" %} </h1>
<form action="{% url 'tasks:task_create' project.name %}" method="post">
{% endif %}
    {% csrf_token %}
<table class="table">
{{ form.as_table }}
    <tr>
        {% trans "Save" as save_txt %}
        <td>
            <input type="submit" class="btn btn-primary" value="{{ save_txt }}">
            <a class="btn btn-default" href="{% url 'tasks:project' project.name %}">Back to project</a>
        </td>
        {% if task %}
        <td> <a class="btn btn-danger" href="{% url 'tasks:task_delete' task.project.name task.name %}">Delete</a> </td>
        {% endif %}
    </tr>
</table>

</form>

{% endblock %}
