{% extends "tasks/tasks_base.html" %}
{% block title %} Tasks {% endblock %}
{% block content %}
    <h1> Tasks </h1>
    <table>
{% for task in task_list %}
        <tr> <td> <a href="{{ task.project.get_absolute_url }}"> {{ project.title }} </a> </td></tr>
        <tr> <td> <a href="{{ task.get_absolute_url }}"> {{ task.title }} </a> </td></tr>
{% endfor %}
{% if user.is_authenticated %}
        <tr> <td> <a href="{% url 'tasks:project_create' %}"> [Create project] </a> </td></tr>
{% endif %}
    </table>
{% endblock %}
