{% extends "tasks/tasks_base.html" %}
{% block title %} Mitasny {% endblock %}
{% block content %}
    <h1> Task </h1>
    <table class="table">
        <tr>
            <th> Project </th> <td> <a href="{{ task.project.get_absolute_url }}"> {{ task.project.title }} </a> </td>
        </tr>
        <tr>
            <th> Title </th> <td> {{ task.title }} </td>
        </tr>
        <tr>
            <th> Name </th><td> {{ task.name }} </td>
        </tr>
        <tr>
            <th> Description </th><td> {{ task.description }} </td>
        </tr>
        <tr>
            <td> <a class="btn btn-primary" href="{% url 'tasks:task_update' task.project.name task.name %}">Edit</a> </td>
            <td> <a class="btn btn-danger" href="{% url 'tasks:task_delete' task.project.name task.name %}">Delete task</a> </td>
        </tr>
    </table>
{% endblock %}
